/*#red {
	color: red;
}

.orange {
	color: orange;
}*/

/*.box1 {
	width: 300px;
	height: 300px;
	background-color: red;
}

.box2 {
	width: 100px;
	height: 100px;
	background-color: blue;
	border: 5px solid yellow;
}*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}

a {
  text-decoration: none;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {
	width: 90%;
	padding: 15px 0;
	margin: 0 auto;
	text-align: center;
	/*background-color: red;*/
}

header .headline {
	font-size: 32px;
}

.nav-list {
	text-align: center;
	padding: 10px 0;
	margin: 0 auto;
}

.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.header-top {
	width: 100%;
	height: 70px;
	/*background-color: hotpink;*/
}
.header-bottom {
	width: 100%;
	height: 50px;
	/*background-color: pink;*/
}

.main-visual {
	width: 100%;
	height: 300px;
	background-image: url(img/mv.jpg);
	background-size: cover;
	background-position: center;
	/*background-color: orange;*/
}
.main-visual-content {
	width: 40%;
	height: 300px;
	text-align: center;
	padding-top: 105px;
	background-color: rgba( 0, 0, 0, 0.5);
	/*background-color: gold;*/
}
.main-visual-text {
	color: #fff;
}
.main-visual-name {
	color: #fff;
	margin-top: 30px;
}

main {
	width: 800px;
	/*height: 1400px;*/
	/*background-color: green;*/
	margin: 0 auto;
	padding: 70px 0;
}
.blog {
	width: 540px;
	/*height: 1400px;*/
	/*background-color: limegreen;*/
	float: left;
	margin-right: 30px;
}
.blog-headline {
	border-bottom: 8px solid #f7f7f7;
	text-align: center;
	line-height: 0.6;
}
.blog-box {
	padding-top: 50px;
}
.blog-item {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #f7f7f7;
}
.blog-image {
	float: left;
	height: 180px;
}
.blog-text-headline {
	padding-bottom: 15x;
}
.blog-text {
	float: left;
	padding: 30px 0 0 25px;
}
.blog-date {
	display: inline-block;
	font-size: 12px;
}
.category {
	display: inline-block;
	padding: 5px 8px;
	background-color: #acabab;
	border-radius: 3px;
	color: #fff;
	font-size: 11px;
}
.sidebar {
	width: 230px;
	/*height: 1400px;*/
	/*background-color: palegreen;*/
	float: left;
}

footer {
	width: 100%;
	height: 120px;
	text-align: center;
	line-height: 120px;
	background-color: #848282;
	/*background-color: blue;*/
}

footer .footer-text {
	color: #fff;
}